@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background: #ffffff;
  color: #222;
}

.hero {
  background: url('https://via.placeholder.com/1400x350') center/cover;
  text-align: center;
  color: white;
  padding: 80px 20px;
  background-blend-mode: multiply;
  background-color: #0d2c56;
  /* background-color: rgb(28, 7, 98); Dark Blue overlay   */
}

.hero h1 {
  font-size: 42px;
  margin: 0 0 12px;
}

.hero p {
  font-size: 18px;
  margin: 0;
}

.event-container {
  max-width: 1100px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 25px;
  padding: 0 20px;
}

.sidebar {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid #0a4682;
  /* Dark Blue border */
  height: fit-content;
}

.info-box {
  margin-bottom: 20px;
  background: #05488b;
  /* Dark Blue tint */
  color: white;
  padding: 12px;
  border-radius: 10px;
}

.register-btn {
  width: 100%;
  background: #f4a261;
  /* Same as Hero */
  color: white;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  display: block;
  text-align: center;
  text-decoration: none;
}

.register-btn:hover {
  background: #d6720e;
  /* Darker on hover */
}

.content {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #003366;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.agenda li {
  margin: 8px 0;
  font-size: 16px;
}

@media(max-width: 800px) {
  .event-container {
    grid-template-columns: 1fr;
  }
}