body {

    background-color:darkorange;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div form {
    width: 330px;
    background: #fff;
    padding: 30px;
    border-radius: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
    font-size: 26px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    background: #f2f2f2;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
}

.Remember {
    font-size: 14px;
    margin-bottom: 15px;
}

input[type="checkbox"] {
    margin-right: 5px;
}

a {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 10px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
    background-color:  #ff5b7c;
}

