.form-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

div form {
    width: 400px;
    max-width: 100%;
    background: #fff;
    padding: 30px 15px;
    border-radius: 20px;
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
    color: #333;
    font-size: 26px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    background: #f2f2f2;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
}

.Remember {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.remeber-forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[type="checkbox"] {
    margin-right: 5px;
}

a {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #666;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
    background-color: var(--accent-color);
}